
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>

<ul>
    <li>Name: Jason Ten </li>
    <li>Mobil: (+46) 073-7739 230</li>
    <li>E-post: jason.ten@hotmail.com</li>    
    <li>Adress: Karslättsvägen 6b, 52335 Ulricehamn</li>    
</ul>