
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<ul>
    <li><a href="https://github.com/JasonT89/Kalkulator01.git">Calculator</a></li>
    <li><a href="https://github.com/JasonT89/DiceFight.git">Arena Fight</a></li>
    <li><a href="https://github.com/JasonT89/GolfX.git">Golf Game</a></li>
    <li><a href="https://github.com/JasonT89/VendigMachine01.git">Vendig Machine</a></li>
    <li><a href="https://github.com/JasonT89/Sokoban.git">Socoban</a></li>
</ul>
